#controlpanel {
	position: fixed;
	height: 900px;
	width: 30%;
	left: 65%;
	background-color: #FFF;
}

#infopanel {
	padding-bottom: 0.2em;
}

#controlrow {
	padding-bottom: 0.2em;
	overflow: auto;
}

#sectorinfo {
	background-color: #AAF;
	padding-bottom: 0.2em;
	padding-top: 0.2em;
}

button {
	border: 0px;
	width: 49%;
	height: 4em;
	float: left;
	margin-left: 0.2em;
}

#fresh_subsector_button {
	color: #366;
	font-size: 1.1em;
	background-color: #AFA;
}

#save_subsector_button {
	color: #366;
	font-size: 1.1em;
	background-color: #AFA;
	left: 52%;
}

.infopoint {
	color: #449;
	float: right;
}

.infoline {
	padding: 0em 0.5em 0em 0.5em;
}

#systeminfo {
	background-color: #FAA;
	width: 100%;
	margin-top: 0.2em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

.hidden {
	display:none;
}