.system {
	background: #FFF;
  color: #FFF;
  width: 75px;
  height: 106px;
  position: relative;
  text-align: center;
  z-index: 1;
  line-height: 50px;
}

.populated_system {
  fill:#AAE;
}

.empty_system {
  fill: #99E;
}

.populated_system:hover {
  fill: #DDF;
}

path {
  stroke: #559;
}

text {
  fill: #55C;
}

.systemrow {
  position: relative;
  margin: 0px 25px -27px;
  float:left;
}

.systemrow > div {
  margin: 0px;
  float: left;
  margin:13px;
}

.systemrow > div:nth-child(even) {
  top: 53px; 
}

.subsector {
  margin-top: 30px;
  width: 69%;
  height: 1024px;
  float: left;
}

#mapContainer {
  display: block;
  height: 1452px;
  width: 100%;
}

.star {
  fill: #DD1;
}